body {
    color: rgb(4, 27, 46);
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

button {
    width: 380px;
    margin: 2px 2px 2px;
    padding: 6px 6px;
    border-bottom: 2px solid rgb(197, 187, 231);
    background-color: blanchedalmond;
}

#vvod {
    width: 280px;
    margin: 2px 2px 2px;
    padding: 6px 6px;
    border-bottom: 2px solid rgb(128,128,128);
}